<section id="header-container">

  <a
    id="header-title"
    href="../home"
    data-href="home"
  >
    <img
      id="global-logo"
      alt="BitAkashico"
      src="../_frontend/images/logo.png"
    >
    <h1 id="global-title">BitAkashico</h1>
  </a>

  <div id="header-buttons">
    <div
      id="social-media-links"
      class="social-media-links"
    ></div>

    <a
      class="icon language"
      href="javascript:void(0);"
      onclick="toggleLanguage()"
    >
      <i class="fa fa-solid fa-globe"></i>
      <span id="header-language">ES</span>
    </a>
  </div>

</section>

<nav id="nav-menu"></nav>
