@import '../../../styles-colors.scss';

.content {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;

  .about,
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin: 0;
  }

  .video-responsive {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 965px;
    max-height: 600px;

    iframe {
      position: relative;
      height: 100%;
      width: 100%;
      min-width: 300px;
      min-height: 300px;
      margin: 10px auto;
      border: 2px solid #fc1;
      border-radius: 10px;
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 1256px) {

  .content {
    max-width: 75%;
  }
}

@media screen and (max-width: 767px) {

  .content {
    max-width: 100%;
  }
}
