<div class="content">
  <!-- <mat-icon>account balance</mat-icon>
<mat-icon>account balance wallet</mat-icon>
<mat-icon>savings</mat-icon>
<mat-icon>dangerous</mat-icon>
<mat-icon>school</mat-icon>
<mat-icon>menu book</mat-icon>
<mat-icon>games</mat-icon> -->

  <div class="about">
    Crypto Shalix pretende agrupar todo lo relacionado con criptomonedas en un solo lugar, desde el que
    poder aprender, compartir, y tradear en este nuevo mundo que ha llegado a nosotros.
  </div>

  <div class="cards">
    <app-linkable-icon
      *ngFor="let icon of iconListMenu"
      [sDefaultIcon]="icon"
    >
    </app-linkable-icon>
  </div>
</div>
