<div class="content">

  <div class="about">
    Crypto Shalix pretende agrupar todo lo relacionado con criptomonedas en un solo lugar, desde el que
    poder aprender, compartir, y tradear en este nuevo mundo que ha llegado a nosotros.
  </div>

  <div class="cards">
    <app-linkable-icon
      *ngFor="let icon of iconListMedia"
      [sDefaultIcon]="icon"
    >
    </app-linkable-icon>
  </div>

  <!-- <div class="video-responsive">
    <iframe
      width="945px"
      height="600px"
      src="https://www.youtube.com/embed/videoseries?list=PLGE24dPKonPajeP0e-lJVkhoTXSYi0ZsP"
      title="Revolución digital: Blockchain, criptomonedas, NFT y metaverso"
      frameborder="0"
      autohide="1"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div> -->
</div>
