@import '../../../styles-colors.scss';

.back-sentence-container {
  position: relative;
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  margin: 0;
  padding: 0;
  background-color: $background-back-color;

  &.bit {
    background: url(../../../assets/images/background_bit_1.jpg);
    background-position: top;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: cover;
  }

  &.aka {
    background: url(../../../assets/images/background_aka_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: cover;
  }

  .back-sentence-content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: $background-sentence-back;

    span {
      max-width: 75%;
      line-height: 3em;
      text-align: center;
      font-size: 2em;
      font-style: italic;
      text-transform: uppercase;
      font-family: 'Bookman Old Style';
      color: $background-sentence-text;
    }
  }
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1256px) {
  .back-sentence-container {
    .back-sentence-content {
      span {
        font-size: 1.5em;
      }
    }
  }
}