<div class="content">

  <div class="about">
    {{ 'PAGE_MAIN.about' | translate }}
  </div>

  <div class="cards">
    <app-linkable-icon
      *ngFor="let icon of iconListMedia"
      [sDefaultIcon]="icon"
    >
    </app-linkable-icon>
  </div>

  <div class="video-responsive">
    <iframe
      width="945px"
      height="600px"
      src="https://www.youtube.com/embed/videoseries?list=PLGE24dPKonPajeP0e-lJVkhoTXSYi0ZsP"
      [title]="'PAGE_MAIN.videoTitle' | translate"
      frameborder="0"
      autohide="1"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
