@import '../../../styles-colors.scss';

.content {
  display: block;
  max-width: 70%;
  margin: 0 auto;
  font-size: 16px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;

  .content-about,
  .content-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 10px auto;

    &.top-apps {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: space-around;
      align-items: center;
      justify-content: space-evenly;
      color: $card-text-hover;
      border-radius: 10px;

      .title-top-apps {
        font-weight: bold;
      }

      .container-top-apps {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: center;
        justify-content: space-around;
      }
    }
  }

  .content-video-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 2px solid $toolbar-border-color;
      border: 10px solid $content-video-border;
      border-radius: 10px;
    }
  }
}