@import '../../../../styles/styles-colors.scss';

.content-tools {
  .accordion {
    width: 100%;

    .mat-expansion-panel {
      background: $body-background;
      color: $body-text;
      margin: 10px auto;

      &:hover {
        box-shadow: 0 2px 0 $card-border-dark, 0 2px 2px $card-border-dark;
        border-radius: 0 0 5px 5px;
      }

      .mat-expansion-panel-header-title {
        display: flex;
        align-items: center;
        color: $body-text;
        font-size: 14px;
        line-height: 15px;
        text-align: left;
        text-transform: uppercase;
      }

      .mat-expansion-panel-header-description {
        display: flex;
        margin: 0 auto;
        padding: 5px;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        color: $body-text;
        border-bottom: 1px solid $card-border-dark;
      }

      .mat-icon {
        display: inline-block;
        margin: 0 10px;
        padding: 5px;
        color: $body-text;

        &.bitcoin-icon {
          line-height: 10px;
          font-size: 28px;
        }
      }

      .mat-expansion-panel-content {
        overflow: visible;
        max-height: 240px;
        overflow-y: auto;
      }

      .mat-card {
        position: relative;
        display: flex;
        align-items: center;
        margin: 5px auto;
        padding: 0;
        background: transparent;
        color: $body-text;
        border: 2px solid transparent;
        color: $card-text;
        background-color: $card-background;
        cursor: pointer;

        &:hover {
          border-color: $card-border-dark;
        }

        .mat-card-title-group {
          display: flex;
          width: 100%;
          max-width: 200px;
          min-width: 200px;
          margin: 0;
          padding: 5px;
          align-items: center;
          text-align: left;

          div:first-child {
            margin: 0 !important;
          }

          .mat-card-title {
            display: block;
            width: 100%;
            margin: 0;
            padding: 5px;
            font-size: 14px;
          }

          .mat-card-subtitle {
            margin: 0;
            font-size: 12px;
            color: $body-text;
          }

          .mat-card-title:not(:first-child),
          .mat-card-subtitle:not(:first-child) {
            margin: 0;
          }
        }

        .mat-card-content {
          width: calc(100% - 10px);
          margin: 0;
          font-size: 14px;
          padding: 5px;
          text-align: left;
          letter-spacing: 1px;
        }
      }
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 1256px) {
  .mat-card {
    flex-direction: column;

    .mat-card-title-group {
      min-width: 100% !important;
    }
  }
}