<ng-container *ngIf="defaultIcon">
  <a
    *ngIf="!_isRouterLink && defaultIcon.href !== ''"
    class="linkable-icon tooltip"
    [ngClass]="{
      'card': defaultIcon.isCard,
      'no-border': defaultIcon.isImage,
      'menu-button': defaultIcon.isMenu,
      'disabled': _disabled
    }"
    [attr.aria-valuenow]="defaultIcon.label | translate"
    [target]="defaultIcon.target"
    rel="noopener"
    [href]="getURL()"
  >
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </a>

  <a
    *ngIf="_isRouterLink && defaultIcon.href !== ''"
    class="linkable-icon tooltip"
    [ngClass]="{
        'card': defaultIcon.isCard,
        'no-border': defaultIcon.isImage,
        'router-link-active': isCurrentPage(defaultIcon.href),
        'menu-button': defaultIcon.isMenu,
        'nav-menu-link': defaultIcon.id === 'home',
        'disabled': _disabled
      }"
    [attr.aria-valuenow]="defaultIcon.label | translate"
    [target]="defaultIcon.target"
    rel="noopener"
    [routerLink]="getURL()"
  >
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </a>

  <span
    *ngIf="defaultIcon.href === ''"
    class="linkable-icon tooltip"
    [ngClass]="{
      'card': defaultIcon.isCard,
      'no-border': defaultIcon.isImage
    }"
    [attr.aria-valuenow]="defaultIcon.label | translate"
  >
    <ng-container *ngTemplateOutlet="linkContent"></ng-container>
  </span>
</ng-container>

<ng-template #linkContent>
  <span
    class="tooltip-label message"
    [innerHTML]="getTooltip() | translate"
  ></span>

  <ng-container *ngIf="defaultIcon.isSVG; else imageTemplate">
    <div
      class="material-icons"
      [innerHTML]="svgPath | safe:'html'"
    ></div>
  </ng-container>

  <ng-template #imageTemplate>
    <ng-container *ngIf="defaultIcon.isImage; else iconTemplate">
      <img
        [src]="defaultIcon.iconPath"
        title="{{defaultIcon.label}}"
      >
    </ng-container>

    <ng-template #iconTemplate>
      <mat-icon class="material-icons svgControl">{{ defaultIcon.iconPath }}
      </mat-icon>
    </ng-template>
  </ng-template>

  <span *ngIf="defaultIcon.showText">{{ defaultIcon.title | translate }}</span>
</ng-template>
