<ng-container *ngIf="defaultIcon">
  <a class="linkable-icon" [ngClass]="{'card': defaultIcon.isCard}" [attr.aria-valuenow]="defaultIcon.label"
    [target]="defaultIcon.target" rel="noopener" [href]="defaultIcon.href" [title]="defaultIcon.title"
    [attr.tooltip]="defaultIcon.tooltip">
    <ng-container *ngIf="defaultIcon.isSVG; else imageTemplate">
      <div class="material-icons" [innerHTML]="svgPath | safe:'html'"></div>
    </ng-container>
    <ng-template #imageTemplate>
      <img [src]="defaultIcon.path">
    </ng-template>
    <span *ngIf="defaultIcon.showText">{{ defaultIcon.title }}</span>
  </a>
</ng-container>
