<div class="content">

  <div class="content-academy">
    <app-content-title [setTitle]="TITLE_TEXT"></app-content-title>

    <span [innerHTML]="(getAboutTextBySide() | translate) | safe:'html'"></span>

    <ng-container
      *ngIf="IS_BIT_SIDE"
      [ngTemplateOutlet]="templateBitAcademy"
    ></ng-container>

    <ng-container
      *ngIf="!IS_BIT_SIDE"
      [ngTemplateOutlet]="templateAkademy"
    ></ng-container>
  </div>
</div>

<ng-template #templateBitAcademy>
  <mat-vertical-stepper
    [linear]="true"
    [selectedIndex]="0"
    #stepper
  >
    <ng-template matStepperIcon="school">
      <mat-icon>school</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="email">
      <mat-icon>email</mat-icon>
    </ng-template>

    <mat-step
      label="{{ 'PAGES.ACADEMY.BIT.STEP_1.title' | translate }}"
      state="school"
    >
      <app-video
        [setSource]="'PLGE24dPKonPajeP0e-lJVkhoTXSYi0ZsP'"
        [setTitle]="'PAGES.ACADEMY.BIT.STEP_1.description'"
      ></app-video>
    </mat-step>

    <mat-step
      label="{{ 'PAGES.ACADEMY.BIT.STEP_2.title' | translate }}"
      state="school"
    >
      <app-video
        [setSource]="'PLGE24dPKonPbF6rLcgvxzu93NsIZXReov'"
        [setTitle]="'PAGES.ACADEMY.BIT.STEP_2.description'"
      ></app-video>
    </mat-step>

    <mat-step
      label="{{ 'PAGES.ACADEMY.BIT.STEP_3.title' | translate }}"
      state="email"
    >
      <div class="content-step">
        <span [innerHTML]="('PAGES.ACADEMY.BIT.STEP_3.description' | translate) | safe:'html'"></span>
      </div>
    </mat-step>
  </mat-vertical-stepper>

</ng-template>

<ng-template #templateAkademy>
  <div class="container-testimonials">
    <span
      class="title hover-border"
      [innerHTML]="(getAkademyTestimonialsTextTitle() | translate) | safe:'html'"
    ></span>
    <span [innerHTML]="(getAkademyTestimonialsText() | translate) | safe:'html'"></span>

    <button
      type="button"
      class="btn btn-long"
      (click)="onAddTestimonial()"
    >
      <mat-icon>add</mat-icon><span
        [innerHTML]="('PAGES.ACADEMY.AKASHICO.testimonialButton' | translate) | safe:'html'"></span>
    </button>

    <div class="testimonial-grid">
      <div
        *ngFor="let testimonial of testimonials"
        class="testimonial"
      >
        <span class="testimonial-name">
          <mat-icon class="testimonial-quote-symbol">format_quote</mat-icon>
          {{ testimonial.name | translate }}
          <a
            [ngClass]="{'visible': testimonial.link !== ''}"
            [href]="testimonial.link"
            target="_blank"
          ><mat-icon>link</mat-icon></a>
        </span>

        <div class="testimonial-content">
          <span
            class="testimonial-quote"
            [innerHTML]="(getTestimonialByLanguage(testimonial)) | safe:'html'"
          ></span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
