@import '../../../styles-colors.scss';

.content {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;

  .content-step {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 0;
    border-radius: 10px;
  }

  .content-about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 5px;
    margin: 0;
  }

  .content-video-responsive {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    padding-top: 25px;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // border: 2px solid $toolbar-border-color;
      border: 10px solid $content-video-border;
      border-radius: 10px;
    }
  }
}