@import '../../../../styles-colors.scss';

.star-container {
  position: relative;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: flex-start;

  .star {
    display: flex;
    color: $color-special-3;
    font-size: 15px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}