.content {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;

  .content-about {
    flex-direction: column;
  }
}