<div class="content">

  <div class="content-about">
    <span [innerHTML]="('PAGES.BOOKS.about' | translate) | safe:'html'"></span>
  </div>

  <div class="content-books">
    <div
      class="book-container"
      *ngFor="let book of books"
    >
      <a
        [href]="book.url"
        target="_blank"
      >
        <app-custom-image
          id="book-cover"
          [sClass]="'book-cover'"
          [sImgSRC]="book.image"
        ></app-custom-image>

        <span class="book-title">
          <mat-icon>download</mat-icon>
          <p>{{book.name}}</p>
        </span>
      </a>
    </div>
  </div>
</div>
