<div class="content">

  <div class="content-about">
    <span [innerHTML]="(getAboutTextBySide() | translate) | safe:'html'"></span>
    <span [innerHTML]="('PAGES.BOOKS.aboutOrigin' | translate) | safe:'html'"></span>
  </div>

  <div class="content-books">
    <div
      class="content-books-title"
      [ngClass]="{'bit': IS_BIT_SIDE}"
    >
      <ng-container *ngIf="IS_BIT_SIDE; else templateTitleAkashico">
        <mat-icon class="content-books-title-logo">{{ TITLE_LOGO }}</mat-icon>
      </ng-container>
      <ng-template #templateTitleAkashico>
        <img
          class="content-books-title-logo"
          [src]="TITLE_LOGO"
        >
      </ng-template>
      <span>{{ TITLE_TEXT }}</span>
    </div>
    <ng-container *ngTemplateOutlet="bookshelf; context: {books: books}"></ng-container>
  </div>

</div>

<ng-template
  #bookshelf
  let-books="books"
>
  <div class="content-books-list">
    <div
      class="book-container"
      *ngFor="let book of books"
    >
      <a
        [href]="book.url"
        target="_blank"
      >
        <app-custom-image
          id="book-cover"
          [sClass]="'book-cover'"
          [sImgSRC]="book.image"
        ></app-custom-image>

        <span class="book-title">
          <mat-icon>download</mat-icon>
          <p>{{book.name}}</p>
        </span>
      </a>
    </div>
  </div>
</ng-template>
