@import '../../../styles-colors.scss';

.content {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: justify;
  line-height: 30px;
  letter-spacing: 1px;

  .content-books {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;

    .content-books-title {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      min-height: 50px;
      max-height: 50px;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $card-text;
      background: $card-background;
      border: 2px solid $card-border-dark;
      border-radius: 10px;
      cursor: default;

      &.bit {
        color: $card-background;
        background: $card-text;
      }

      .content-books-title-logo {
        position: absolute;
        left: 0;
        width: 40px;
        height: 40px;
        margin: 0 15px;

        &.mat-icon {
          position: absolute;
          display: flex;
          left: 0;
          width: 40px;
          height: 100%;
          margin: 0 15px;
          text-align: center;
          top: 50%;
          transform: translateY(-55%);
        }
      }

      span {
        display: block;
        height: 100%;
        padding: 5px;
        font-size: 18px;
        font-weight: 550;
        text-transform: uppercase;
        text-align: center;
      }
    }

    .content-books-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 5px;

      .book-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 200px;
        height: 340px;
        padding: 0;
        margin: 5px 20px;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 200px;
          height: 100%;

          &:hover span.book-title {
            background: $card-background-hover;
            color: $card-text-hover;
          }

          .mat-icon.book-cover {
            position: absolute;
            font-size: 100px;
            width: 100px;
            height: 100px;
            top: 50%;
            transform: translate(0%, -75%);
          }

          span.book-title {
            display: flex;
            width: 100%;
            height: 70px;
            margin: 0;
            padding: 0;
            bottom: 0;
            align-items: center;
            overflow: hidden;
            background: $card-background;
            color: $card-text;
            border-radius: 0 0 10px 10px;

            .mat-icon {
              display: flex;
              font-size: 20px;
              width: 20px;
              height: 20px;
            }

            p {
              position: relative;
              display: flex;
              width: 100%;
              height: 100%;
              margin: 0;
              padding: 0;
              bottom: 0;
              align-items: center;
              justify-content: center;
              text-align: center;
              flex-direction: row;
              white-space: break-spaces;
              text-overflow: ellipsis;
              overflow-wrap: normal;
              line-height: 15px;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}