@import '../../../../styles-colors.scss';

.custom-form {
  margin: 0;

  form {
    display: grid;
    margin: 0 5%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 5px 0;
    margin: 5px auto;

    .form-input {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      padding: 0;
      margin: 0;

      &.flex-row {
        display: flex;
        flex-direction: row;
      }

      label {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding: 5px;
        font-size: 14px;
        caret-color: $global-link-color-hover;
        user-select: none;
        cursor: pointer;

        &:hover {
          color: $global-link-color-hover;
        }

        .mat-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 5px;
        }

        span {
          margin: 0;
        }
      }

      input:not([type='checkbox']) {
        font-size: 14px;
        border-radius: 5px;
        min-height: 40px;

        &::placeholder {
          font-style: italic;
        }

        &.btn-submit {
          justify-self: flex-end;
        }
      }

      textarea {
        resize: vertical;
        font-size: 14px;
        min-height: 100px;
        max-height: 400px;
        border-radius: 5px;

        &::placeholder {
          font-style: italic;
        }
      }
    }
  }

  .buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .btn {
      width: 50%;
      margin: 0 2px;
    }
  }
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1000px) {
  .custom-form {

    .buttons-container {
      flex-wrap: wrap;

      .btn {
        width: 100%;
        margin: 2px;
      }
    }
  }
}

@media (pointer:coarse) {
  .custom-form {

    .buttons-container {
      flex-wrap: wrap;

      .btn {
        width: 100%;
        margin: 2px;
      }
    }

    form {
      margin: 0;

      .form-input {

        label,
        span,
        input,
        textarea,
        .text-muted {
          font-size: 10px !important;
          line-height: 1rem !important;
        }
      }
    }
  }
}