@import 'styles-colors.scss';

.nav-menu-link {
  width: 100px;
  height: 60px;
  font-size: 30px;
  cursor: pointer;

  .linkable-icon {
    border: none;
    outline: none;
    top: 10px;
  }

  .linkable-icon.router-link-active:before {
    border-bottom-color: transparent;
  }
}

/* Responsive Styles */
@media screen and (max-width: 1256px) {

  .nav-menu-link .linkable-icon {
    bottom: 0;
  }
}