<div class="content">
  <!-- <app-history-money></app-history-money> -->

  <div class="form-group">

    <div class="row">
      <div class="form-control">
        <input
          id="coinOriginName"
          name="coinOriginName"
          type="text"
          class="inputSearch"
          placeholder="{{ 'PAGES.TRADING.searchInput' | translate }}"
          (input)="filterValueOrigin($event.target)"
        >

        <select class="comboSearch">
          <option
            *ngFor="let option of coinsOrigin | searchCoins:coinSelectedOrigin"
            [value]="option.name"
          >[{{ option.symbol | uppercase }}] {{ option.name }}</option>
        </select>

        <input
          id="coinOriginValue"
          name="coinOriginValue"
          type="number"
          placeholder="1"
          min="0"
        >
      </div>

      <mat-icon class="trading-button">swap_horiz</mat-icon>

      <div class="form-control">
        <input
          id="coinDestinationName"
          name="coinDestinationName"
          type="text"
          class="inputSearch"
          placeholder="{{ 'PAGES.TRADING.searchInput' | translate }}"
          (input)="filterValueDestination($event.target)"
        >

        <select class="comboSearch">
          <option
            *ngFor="let option of coinsDestination | searchCoins:coinSelectedDestination"
            [value]="option.name"
          >[{{ option.symbol | uppercase }}] {{ option.name }}</option>
        </select>

        <input
          id="coinDestinationValue"
          name="coinDestinationValue"
          type="number"
          placeholder="1"
          min="0"
        >
      </div>
    </div>

    <div class="spacer"></div>

    <div class="row buttons">
      <button class="trading-button">SWAP</button>
    </div>

  </div>
</div>
