<div class="toolbar-top">

  <div class="menu-top">
    <div
      class="menu-toggle-side tooltip"
      (click)="onToggleSide()"
    >
      <span class="tooltip-label">{{ 'MSG.appSideChoose' | translate | uppercase }}</span>
      <span
        class="menu-toggle-side-title"
        [ngClass]="{'selected': IS_BIT_SITE}"
      >BIT</span>
      <img
        class="menu-toggle-side-logo"
        [src]="IMAGE_LOGO"
        [alt]="title"
        title="{{title}}"
      >
      <span
        class="menu-toggle-side-title"
        [ngClass]="{'selected': !IS_BIT_SITE}"
      >AKASHICO</span>
    </div>

    <div class="menu-top-container">

      <div
        class="menu-nav"
        (click)="showMenu = !showMenu"
      >
        <mat-icon class="menu-nav-button">{{ showMenu ? 'close' : 'menu' }}</mat-icon>

        <span class="menu-nav-breadcrumb">
          [{{ IS_BIT_SITE ? 'BIT' : 'AKASHICO' }}]<br />
          {{ getCurrentPage() | translate | uppercase }}
        </span>
      </div>

      <span class="spacer"></span>

      <div class="menu-actions">
        <div
          class="material-icons-donations tooltip"
          (click)="showContainerDonations = true"
        >
          <span class="tooltip-label">{{ 'STRINGS.donations' | translate | uppercase }}</span>
          <mat-icon>coffee</mat-icon>
        </div>

        <div class="material-icons-language tooltip">
          <span class="tooltip-label">{{ getTooltipLanguage() | translate | uppercase }}</span>
          <mat-icon
            class="material-icons"
            (click)="onChangeLanguage()"
          >translate</mat-icon>
        </div>
      </div>

    </div>
  </div>
</div>

<div
  class="menu-nav-container"
  [ngClass]="{'animate': showMenu}"
>
  <!-- <div
    class="menu-nav-toggle"
    (click)="onToggleSide()"
  >
    <span [ngClass]="{'selected': IS_BIT_SITE}">Bit</span>
    <span [ngClass]="{'selected': !IS_BIT_SITE}">Akashico</span>
  </div> -->

  <div class="menu-nav-controls">
    <app-linkable-icon
      class="menu-nav-control"
      *ngFor="let iconMenu of iconListMenu"
      [sDefaultIcon]="iconMenu"
      (click)="showMenu = false"
    ></app-linkable-icon>
  </div>
</div>


<app-donations
  [setShow]="showContainerDonations"
  (outOnClose)="showContainerDonations=$event"
></app-donations>
