<div class="content">

  <div class="about">
    {{ 'PAGES.TOOLS.about' | translate }}
  </div>

  <div class="content-tools">

    <mat-accordion
      class="accordion"
      displayMode="flat"
      multi
    >
      <mat-expansion-panel
        [expanded]="showExpanded"
        *ngFor="let toolCategory of this.toolsList"
        [disabled]="toolCategory.disabled || toolCategory.items.length === 0"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon
              *ngIf="toolCategory.icon"
              [ngClass]="{'bitcoin-icon': toolCategory.icon === 'bitcoin'}"
            >
              {{ toolCategory.icon === 'bitcoin' ? bitcoinText : toolCategory.icon }}
            </mat-icon>
            {{ toolCategory.title | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-panel-description *ngIf="!isNullOrEmpty(toolCategory.description)">
          {{ toolCategory.description | translate }}
        </mat-panel-description>

        <a
          *ngFor="let toolItem of toolCategory.items"
          [href]="toolItem.link"
          target="_blank"
        >
          <mat-card>
            <mat-card-title-group>
              <mat-card-title>
                <mat-icon *ngIf="toolItem.icon">{{ toolItem.icon }}</mat-icon>
                <img
                  *ngIf="toolItem.image"
                  mat-card-sm-image
                  [src]="toolItem.image"
                >
                {{ toolItem.text | translate }}
              </mat-card-title>
              <mat-card-subtitle *ngIf="toolItem.rank">
                <app-star-rank [setStars]="toolItem.rank"></app-star-rank>
              </mat-card-subtitle>
            </mat-card-title-group>
            <mat-card-content>
              {{ toolItem.description | translate }}
            </mat-card-content>
          </mat-card>
        </a>

      </mat-expansion-panel>
    </mat-accordion>

  </div>

</div>
