<div class="content">

  <div class="about">
    <span [innerHTML]="('PAGES.TOOLS.about' | translate) | safe:'html'"></span>

    <div class="custom-tools">
      <span [innerHTML]="('PAGES.TOOLS.aboutCustomTools' | translate) | safe:'html'"></span>

      <div class="custom-tool-items">
        <app-linkable-icon
          class="custom-tool-item"
          *ngFor="let customTool of customToolsList"
          [sDefaultIcon]="customTool"
        ></app-linkable-icon>
      </div>

    </div>
  </div>

  <app-accordion [setAccordionList]="toolsList"></app-accordion>

</div>
