@import '../../../styles/styles-colors.scss';

.content {
  display: block;
  max-width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: pretty;
  line-height: 30px;
  letter-spacing: 1px;

  .about,
  .content-tools {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    margin: 0;
  }

  .about {
    display: block;

    .custom-tools {
      display: block;
      margin: 1em auto 0;
      justify-content: center;
      align-items: center;

      span {
        display: block;
      }

      .custom-tool-items {
        display: flex;
        justify-content: center;
        align-items: center;

        .custom-tool-item {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

/* Responsive Styles */
@media screen and (max-width: 1256px) {
  .custom-tool-items {
    flex-direction: column;
  }
}