<div
  class="modal-dialog-container"
  [ngClass]="{'visible': showModalDialog}"
>
  <div class="modal-dialog-container-fix">

    <div class="modal-dialog-toolbar">
      <span class="modal-dialog-toolbar-title">
        <mat-icon
          class="modal-dialog-toolbar-title-image"
          [ngClass]="{'bitcoin': isBitcoinImage}"
        >{{ titleImage }}</mat-icon>{{ title | translate }}
      </span>
      <mat-icon
        class="close-button"
        (click)="onClose()"
      >close</mat-icon>
    </div>

    <div class="modal-dialog-content">
      <ng-template *ngTemplateOutlet="modal_dialog_template"></ng-template>
    </div>
  </div>
