<div class="container">
  <div class="row">
    <h4>Timeline of money leading towards Bitcoin</h4>
    <ul class="timeline">
      <li>
        <span>Shell money</span>
        <span>1200 BCE</span>
      </li>
      <li>
        <span>Coin money</span>
        <span>700 BCE</span>
      </li>
      <li>
        <span>Paper money</span>
        <span>806</span>
      </li>
      <li>
        <span>Gold standard</span>
        <span>1816</span>
      </li>
      <li>
        <span>Gold-backed US dollar</span>
        <span>1903</span>
      </li>
      <li>
        <span>Credit cards</span>
        <span>1950</span>
      </li>
      <li>
        <span>US dollar no longer gold-backed</span>
        <span>1971</span>
      </li>
      <li>
        <span>Digital money</span>
        <span>1994</span>
      </li>
      <li>
        <span>Bitcoin</span>
        <span>2008</span>
      </li>
    </ul>
  </div>
</div>
