@import '../../../../styles/styles-colors.scss';

.carousel {
  position: relative;
  display: flex;
  width: 100%;
  height: 40px;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
  background: $carousel-background;
  border-bottom: 1px solid $carousel-border-color;
}

.carousel>* {
  white-space: nowrap;
  position: absolute;
  animation: marquee linear 0s infinite;
}

.carousel-track {
  height: 100%;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:hover {
    animation-play-state: paused;
  }

  .carousel-item {
    display: inline-flex;
    width: auto;
    height: 100%;
    margin: 0 5px;
    padding: 0 5px;
    border: 2px solid transparent;
    border-radius: 5px;

    &:hover {
      color: $carousel-item-hover-text;
      background: $carousel-item-hover-background;
      font-weight: bold;
      border-color: $carousel-item-hover-border;
    }

  }
}

@keyframes marquee {
  0% {
    left: 100%;
    transform: translateX(0%);
  }

  100% {
    left: 0%;
    transform: translateX(-100%);
  }
}