@import '../styles-colors.scss';

.toolbar {
  position: fixed;
  display: flex;
  height: 60px;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: $toolbar_background;
  color: $toolbar_text;
  font-weight: 600;

  .toolbar-menu,
  .toolbar-media {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;

    .icons {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .toolbar-menu {
    left: 15px;

    .linkable-icon {
      width: 100%;
    }
  }

  .toolbar-media {
    right: 15px;
  }
}

.breadcrumb {
  position: fixed;
  display: flex;
  height: 30px;
  top: 60px;
  left: 0;
  right: 0;
  padding: 0 25px;
  align-items: center;
  justify-content: left;
  background-color: $toolbar_breadcrumb_background;
  color: $toolbar_breadcrumb_text;
  font-weight: 600;
}

.spacer {
  flex: 1;
}

.content {
  position: relative;
  display: flex;
  margin: 90px auto 0;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}
