<div class="body">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>

  <div class="toolbar-top">
    <div class="menu-top">
      <app-linkable-icon
        class="logo"
        [sDefaultIcon]="iconHome"
      ></app-linkable-icon>

      <mat-icon
        [matMenuTriggerFor]="menu"
        class="nav-menu-link"
      >apps</mat-icon>

      <span class="spacer"></span>

      <app-linkable-icon
        *ngFor="let icon of iconListMedia"
        [sDefaultIcon]="icon"
      ></app-linkable-icon>
    </div>
  </div>

  <div class="coins-carousel">
    <app-carousel></app-carousel>
  </div>

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div class="toolbar-bottom">

    <div class="menu-donations">
      <mat-icon (click)="showContainerDonations = true">alternate_email</mat-icon>
    </div>

    <div class="menu-bottom">

      <div class="material-icons-currency">
        {{ currency.text| uppercase }}
      </div>

      <span class="spacer"></span>

      <app-linkable-icon [sDefaultIcon]="getIconListMenu(icmIdAcademy)"></app-linkable-icon>
      <app-linkable-icon [sDefaultIcon]="getIconListMenu(icmIdTools)"></app-linkable-icon>
      <app-linkable-icon
        [sDefaultIcon]="getIconListMenu(icmIdHome)"
        [matMenuTriggerFor]="menu"
        class="nav-menu-link"
      ></app-linkable-icon>
      <app-linkable-icon [sDefaultIcon]="getIconListMenu(icmIdTrading)"></app-linkable-icon>
      <app-linkable-icon [sDefaultIcon]="getIconListMenu(icmIdPortfolio)"></app-linkable-icon>

      <span class="spacer"></span>

      <div class="material-icons-language">
        <span class="language-tooltip">{{ getTooltipLanguage() | translate | uppercase }}</span>
        <mat-icon
          class="material-icons"
          (click)="onChangeLanguage()"
        >translate</mat-icon>
      </div>

    </div>

  </div>

</div>

<mat-menu #menu="matMenu">
  <button
    *ngFor="let menu of navMenu"
    mat-menu-item
    [routerLink]="menu.link"
    [disabled]="menu.disabled"
  >
    <mat-icon>{{ menu.icon }}</mat-icon>
    <span>{{ menu.text | translate }}</span>
  </button>
</mat-menu>

<div
  class="menu-donations-container"
  [ngClass]="{'visible': showContainerDonations}"
>
  <div class="menu-donations-container-fix">

    <div class="menu-donations-toolbar">
      <span class="menu-donations-toolbar-title">
        <span class="bitcoin">₿</span>{{ 'DONATIONS.title' | translate }}
      </span>
      <mat-icon
        class="close-button"
        (click)="showContainerDonations = false"
      >close</mat-icon>
    </div>

    <div class="menu-donations-content">
      <span
        class="menu-donations-toolbar-message"
        [innerHTML]="('DONATIONS.message' | translate) | safe:'html'"
      ></span>
      <span class="menu-donations-toolbar-message italic">{{ 'MSG.clickToCopy' | translate }}</span>
      <div class="menu-donations-wallets">
        <a
          class="show-as-row"
          (click)="onClickCopyToClipboard()"
          [cdkCopyToClipboard]="walletBTCLNZebedeeTag"
        >
          <mat-icon>offline_bolt</mat-icon>
          {{ walletBTCLNZebedeeTag }}
        </a>

        <a
          class="show-as-column"
          (click)="onClickCopyToClipboard()"
          [cdkCopyToClipboard]="walletBTCLNMuunUrl"
        >
          <img [src]="walletBTCLNMuunQR">
        </a>

        <span
          class="blinkMessage"
          [ngClass]="{'visible': hasBeenCopied, 'invisible': !hasBeenCopied}"
        >{{ 'MSG.copyToClipboard' | translate }}
          <mat-icon>content_copy</mat-icon>
        </span>
      </div>
    </div>

  </div>
</div>
