@import '../styles-colors.scss';

.main-container {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: $toolbar_background;
  color: $toolbar_text;
  font-weight: 600;

  .header,
  .content,
  .footer {
    position: fixed;
    display: flex;
    margin: 0;
    padding: 25px;
    align-items: center;
    justify-content: center;

    .icons {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
    }
  }

  .header {
    height: 75px;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid $toolbar-border-color;
  }

  .content {
    max-width: 960px;
    height: 100%;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 0 16px;
  }

  .footer {
    height: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid $toolbar-border-color;
  }
}

.spacer {
  flex: 1;
}
