<div class="body">
  <!-- <div class="coins-carousel">
    <app-carousel></app-carousel>
  </div> -->

  <div class="main-container">
    <router-outlet></router-outlet>
  </div>

  <div class="toolbar-top">

    <div class="menu-top">
      <div class="menu-top-container">

        <div class="menu-currency">
          <app-coin-info
            class="coin-ticker"
            [sCoinItem]="coinBitcoin"
            [type]="coinFormat"
          ></app-coin-info>
        </div>

        <span class="spacer"></span>

        <div class="menu-actions">
          <div
            class="material-icons-donations"
            (click)="showContainerDonations = true"
          >
            <mat-icon>coffee</mat-icon>
          </div>

          <div class="material-icons-language">
            <span class="language-tooltip">{{ getTooltipLanguage() | translate | uppercase }}</span>
            <mat-icon
              class="material-icons"
              (click)="onChangeLanguage()"
            >translate</mat-icon>
          </div>
        </div>

      </div>
    </div>

    <div class="menu-bottom">

      <app-linkable-icon
        *ngFor="let iconMenu of iconListMenu"
        [sDefaultIcon]="iconMenu"
      ></app-linkable-icon>

    </div>

  </div>

  <app-message-manager></app-message-manager>
</div>

<app-donations [setShow]="showContainerDonations"></app-donations>
