<!-- THE HTML SHOWN HERE IS AN EXAMPLE OF HOW TO CREATE 'STACK-CARDS' -->
<div class="stack-cards">
  <div class="card">
    <div class="container">
      <span>Description 1</span>
      <h1>Title 1</h1>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <span>Description 2</span>
      <h1>Title 2</h1>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <span>Description 3</span>
      <h1>Title 3</h1>
    </div>
  </div>
  <div class="card">
    <div class="container">
      <span>Description 4</span>
      <h1>Title 4</h1>
    </div>
  </div>
</div>
