@import '../../../../styles-colors.scss';

form {
  display: grid;
  margin: 0 5%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 5px 0;
  margin: 5px auto;

  label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
    caret-color: $global-link-color-hover;

    &:hover {
      color: $global-link-color-hover;
    }

    .mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 5px;
    }
  }

  input {
    font-size: 14px;
    border-radius: 5px;
    min-height: 40px;

    &::placeholder {
      font-style: italic;
    }

    &.btn-submit {
      justify-self: flex-end;
    }
  }

  textarea {
    resize: vertical;
    min-height: 100px;
    max-height: 400px;
    border-radius: 5px;

    &::placeholder {
      font-style: italic;
    }
  }

  .text-muted {
    font-size: 10px;
    font-style: italic;
    color: $body-text-muted;
    cursor: default;

    &:hover {
      color: $body-text-muted-hover;
    }
  }
}

@media (pointer:coarse) {
  .text-muted {
    color: $body-text-muted-hover !important;
  }
}