<div class="contact-form">
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
  >
    <div class="form-group">
      <label for="nickname">
        <mat-icon>star</mat-icon>
        <span [innerHTML]="('PAGES.CONTACT.nickname' | translate) | safe:'html'"></span>*
      </label>
      <input
        id="nickname"
        type="text"
        name="nickname"
        placeholder="Bob | Bob_2140"
        formControlName="nickname"
      >
    </div>

    <div class="form-group">
      <label for="email">
        <mat-icon>star</mat-icon>
        <span [innerHTML]="('PAGES.CONTACT.email' | translate) | safe:'html'"></span>*
      </label>
      <input
        id="email"
        type="email"
        name="email"
        placeholder="email@domain.com"
        formControlName="email"
        required
      >
      <small
        id="emailHelp"
        class="text-muted"
        [innerHTML]="('PAGES.CONTACT.emailHelp' | translate) | safe:'html'"
      ></small>
    </div>

    <div class="form-group">
      <label for="phone">
        <mat-icon>star</mat-icon>
        <span [innerHTML]="('PAGES.CONTACT.phone' | translate) | safe:'html'"></span>
      </label>
      <input
        id="phone"
        type="text"
        name="phone"
        [placeholder]="'+34 111 222 333 / @telegram_id' | translate"
        formControlName="phone"
      >
    </div>

    <div class="form-group">
      <label for="message">
        <mat-icon>star</mat-icon>
        <span [innerHTML]="('PAGES.CONTACT.message' | translate) | safe:'html'"></span>*
      </label>
      <textarea
        id="message"
        class="form-control"
        formControlName="message"
        name="message"
        rows="5"
        [placeholder]="'PAGES.CONTACT.messageHint' | translate"
        [minlength]="minMessageLength"
      ></textarea>
    </div>

    <button
      type="submit"
      class="btn btn-submit"
      [disabled]="!form.valid"
    >
      <mat-icon>telegram</mat-icon>
      <span [innerHTML]="('PAGES.CONTACT.submit' | translate) | safe:'html'"></span>
    </button>
  </form>

</div>
