<div class="content">
  <!-- <app-history-money></app-history-money> -->

  <div class="form-group">
    <button
      type="button"
      class="btn btn-submit btn-small btn-center"
      (click)="getCoins()"
    >
      <mat-icon>refresh</mat-icon>
    </button>

    <button
      type="button"
      class="btn btn-submit btn-small btn-center"
      (click)="onSavePortfolio()"
    >
      <mat-icon>save</mat-icon>
    </button>
  </div>

  <div
    *ngIf="coins && coins.length > 0"
    class="mat-elevation-z8"
  >
    <app-modal-selector
      [setShow]="true"
      [setListOrigin]="coins"
      [setTitle]="'Titulo selector monedas'"
    ></app-modal-selector>
    <!-- <input
      #inputSearchCoin
      name="inputSearchCoin"
      type="text"
      class="inputSearch"
      placeholder="{{ 'PAGES.TRADING.searchInput' | translate }}"
      (input)="applyFilter($event)"
    >
    <mat-icon (click)="onSearchCoinClear()">close</mat-icon>

    <mat-selection-list
      #coins
      class="coins-selector"
    >
      <mat-list-option
        *ngFor="let coin of coinsFiltered"
        (click)="onSelectedCoin(coin)"
      >
        <div class="coin-selector-item">
          <span class="coin-selector-symbol">[{{coin.symbol}}]</span>
          <span class="coin-selector-name">{{coin.name}}</span>
        </div>
      </mat-list-option>
    </mat-selection-list>

    <p>
      Coins selected: {{coinsPortfolioSelected.length}}
    </p> -->

    <table
      mat-table
      [dataSource]="dataSource"
      matSort
    >

      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        > Name </th>
        <td
          mat-cell
          *matCellDef="let row"
        > {{ row.name }} </td>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        > Symbol </th>
        <td
          mat-cell
          *matCellDef="let row"
        > {{ row.symbol }} </td>
      </ng-container>

      <ng-container matColumnDef="currentPrice">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
        > Price </th>
        <td
          mat-cell
          *matCellDef="let row"
        > {{ row.currentPrice }} </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>

      <tr
        class="mat-row"
        *matNoDataRow
      >
        <td
          class="mat-cell"
          colspan="4"
        >Su portfolio está vacío. Seleccione algunas monedas para empezar.</td>
      </tr>
    </table>

    <mat-paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      showFirstLastButtons
      aria-label="Select page of coins"
    ></mat-paginator>
  </div>

</div>
