@import '../../../../styles-colors.scss';

.coin-item {
  position: relative;
  display: inline-flex;
  width: 100%;
  height: 100%;
  min-height: 30px;
  max-height: 50px;
  align-items: center;

  &:hover .coin-item-image {
    background: rgba(255, 255, 255, 0);
    scale: 1;
  }

  .coin-item-image {
    display: block;
    width: 20px;
    height: 20px;
    padding: 2px;
    font-size: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .75);
  }

  .coin-item-label {
    position: relative;
    display: flex;
    font-size: 12px;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;

    .label-main-data,
    .label-price-change {
      position: relative;
      display: inline-flex;
      padding: 0 2px;
      font-weight: 500;
      align-items: center;

      .label-name,
      .label-price {
        position: relative;
        display: inline-flex;
        padding: 0 2px;
        text-align: center;
        font-size: 12px;
      }
    }

    .label-price-change {
      margin: 0 2px;
      padding: 2px 8px;
      text-align: center;
      color: $body-text;
      font-size: 10px;
      font-weight: normal;
      border-radius: 25px;

      &.positive {
        background: $global-positive-color;
      }

      &.negative {
        background: $global-negative-color;
      }
    }
  }
}
