<ng-container *ngIf="defaultIcon">
  <a class="social-media-icon" [attr.aria-valuenow]="defaultIcon.label" [target]="defaultIcon.target" rel="noopener"
    [href]="defaultIcon.href" [title]="defaultIcon.title">
    <ng-container *ngIf="defaultIcon.isSVG; else imageTemplate">
      <!-- <object class="svg" type="image/svg+xml" [data]="svg"></object> -->
      <div id="svg"></div>
      <!-- <div id="container">
        <svg id="product-svg">
          <path id="product-shape" [d]="svg" />
        </svg>
      </div> -->
      <!-- <svg [id]="defaultIcon.id" [attr.tooltip]="defaultIcon.tooltip" data-name="Logo"
        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">
        <rect width="400" height="400" fill="none" />
        <path #svg fill="#fff" />
      </svg> -->
    </ng-container>
    <ng-template #imageTemplate>
      <img [src]="defaultIcon.path">
    </ng-template>
  </a>
</ng-container>
