<!-- THE HTML SHOWN HERE IS AN EXAMPLE OF HOW TO CREATE 'HORIZONTAL-SCROLL' -->
<div class="horizontal-scroll-container">
  <h1 class="hs-title">Horizontal scroll title</h1>
  <span class="hs-description">Horizontal scroll description</span>

  <div class="horizontal-scroll">
    <div class="container">
      <article>
        <h1 class="hscontainer-title">Title 1</h1>
        <p class="hscontainer-description">Description 1</p>
        <span class="hscontainer-price">10 €</span>
      </article>
    </div>

    <div class="container">
      <article>
        <h1 class="hscontainer-title">Title 2</h1>
        <p class="hscontainer-description">Description 2</p>
        <span class="hscontainer-price">20 €</span>
      </article>
    </div>

    <div class="container">
      <article>
        <h1 class="hscontainer-title">Title 3</h1>
        <p class="hscontainer-description">Description 3</p>
        <span class="hscontainer-price">30 €</span>
      </article>
    </div>

    <div class="container">
      <article>
        <h1 class="hscontainer-title">Title 4</h1>
        <p class="hscontainer-description">Description 4</p>
        <span class="hscontainer-price">40 €</span>
      </article>
    </div>
    </article>
  </div>
</div>
</div>
