<div class="content-books">
  <div class="content-books-list">
    <div
      class="book-container"
      *ngFor="let item of GALLERY_LIST"
    >
      <app-custom-image
        id="book-cover"
        [sClass]="'book-cover'"
        [sImgSRC]="item.imgPath"
      ></app-custom-image>

      <span class="book-title">
        <p>{{item.title}}</p>
      </span>

      <span class="book-buttons">
        <app-linkable-icon
          [sDisabled]="isNullOrEmpty(item.li_read.href)"
          [sDefaultIcon]="item.li_read"
        ></app-linkable-icon>

        <app-linkable-icon
          [sDisabled]="isNullOrEmpty(item.li_buy.href)"
          [sDefaultIcon]="item.li_buy"
        ></app-linkable-icon>
      </span>
    </div>
  </div>
</div>
