@import './styles-colors.scss';

input:not([type='color']),
textarea,
select {
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  border: 1px solid #eef0f2;
  border-radius: 2px;
  display: block;
  width: 100%;
  font-size: inherit;
}

.mat-select {
  background-color: $select-background;
  color: $select-text;
  border-color: $select-border;
  margin: 5px auto;
  border-radius: 5px;
}

.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
  background-color: $color-special-1 !important;
}


// BUTTON
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: flex-end;
  min-width: 50px;
  min-height: 25px;
  color: $btn-text;
  font-weight: bold;
  text-transform: uppercase;
  background: $btn-background;
  border: 2px solid $btn-border;
  border-radius: 10px;
  cursor: pointer;

  &.btn-submit,
  &.btn-long {
    width: 100%;
    max-width: 25%;
    height: 40px;
    min-height: 40px;

    .mat-icon {
      position: absolute;
      left: 0;
      display: flex;
      width: 35px;
      height: 35px;
      margin: 0;
      font-size: 35px;
    }

    span {
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;

      &.icon-space {
        margin-left: 35px;
      }
    }
  }

  &.btn-long {
    max-width: 100%;
    height: 30px;
    min-height: 30px;
  }

  &.btn-small {
    width: 55px;
    height: 50px;
    min-width: 25px;
    min-height: 25px;
    margin: 5px 10px;
  }

  &.btn-center .mat-icon {
    position: relative;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  &:disabled {
    background: $btn-background-disabled;
    color: $btn-text-disabled;
    border-color: $btn-border-disabled;
  }

  &:hover:not(:disabled) {
    background: $btn-background-hover;
    color: $btn-text-hover;
    border-color: $btn-border-hover;
  }
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1256px) {
  .btn-submit {
    max-width: 100% !important;
  }
}

@media screen and (max-width: 767px) {

  .mat-list-option {
    height: 60px !important;
    font-size: 14px !important;

    .mat-list-item-content,
    .mat-list-item-content-reverse {
      padding: 0 !important;
      margin: 0 auto !important;
      width: calc(100% - 10px) !important;
    }

    .mat-list-text {
      border-bottom: 1px solid $select-border !important;
    }
  }
}