@import './styles-colors.scss';

.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background: url(./assets/images/background.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;

  background-color: $body-background;
  color: $body-text;

  .content {
    padding: 10px;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 10px;
  }

  .coins-carousel {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    // top: 54px;
    top: 0;

    .coins-carousel-component {
      display: block;
      width: 100%;
      height: 50px;
    }
  }

  .main-container {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 105px);
    top: 105px;
    bottom: 0;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;
  }

  .toolbar-top,
  .toolbar-bottom {
    position: fixed;
    display: flex;
    width: 100%;
    height: 85px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: $toolbar-background;
    z-index: 1;

    .menu-top {
      position: fixed;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 30px;
      top: 0;
      left: 0;
      right: 0;
      padding: 0 15px;
      border-bottom: 1px solid $toolbar-border-color;

      .menu-top-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 50%;
        margin: 0 auto;
      }
    }

    .menu-bottom {
      position: relative;
      display: flex;
      width: 100%;
      height: 65px;
      top: 20px;
      min-width: 340px;
      margin: 0;
      justify-content: center;
      align-items: center;
    }

    .menu-actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
    }

    .menu-currency {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: $toolbar-border-color;
      }

      .mat-icon {
        display: flex;
        align-self: center;
        width: 40px;
        height: 45px;
        margin-top: -5px;
        padding: 0;
      }
    }
  }

  .toolbar-top {
    top: 0;
    height: 105px;
    padding: 5px 10px;
    border-bottom: 1px solid $toolbar-border-color;
  }

  .toolbar-bottom {
    bottom: 0;
    height: 65px;
    padding: 5px;
    border-top: 1px solid $toolbar-border-color;
  }
}

.carousel-wrapper {
  background-color: $toolbar-background !important;
}

// STEPPER
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
.mat-vertical-stepper-header {
  padding: 15px 10px !important;
}

.mat-horizontal-content-container,
.mat-vertical-content-container {
  margin-left: 0 !important;
}

.mat-horizontal-content,
.mat-vertical-content {
  padding: 0 !important;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1256px) {
  .menu-top-container {
    max-width: 100% !important;
  }

  .content {
    max-width: 90% !important;
  }

  .menu-donations-container-fix {
    width: 75% !important;
  }
}

@media screen and (max-width: 767px) {

  .main-container {
    min-width: 100%;

    .content {
      max-width: 100% !important;
    }
  }
}