@import './styles-colors.scss';

.cdk-overlay-connected-position-bounding-box {
  top: 100% !important;
  left: 0 !important;
  bottom: 0 !important;
  height: 0 !important;
  width: 100% !important;
  align-items: flex-start !important;
  justify-content: flex-end !important;
}

.nav-menu-link .linkable-icon {
  border: none;
  outline: none;
}

.mat-menu-panel {
  position: absolute;
  width: 100%;
  min-width: 200px !important;
  max-width: 300px !important;
  min-height: 65px !important;
  left: 50%;
  bottom: 80px;
  transform: translate(-50%, 0);

  .mat-menu-item:hover:not([disabled]),
  .mat-menu-item.cdk-program-focused:not([disabled]),
  .mat-menu-item.cdk-keyboard-focused:not([disabled]),
  .mat-menu-item-highlighted:not([disabled]) {
    background: $toolbar-border-color;
  }
}
