// COLORS
$color-primary-1: rgb(0, 0, 0);
$color-primary-2: rgb(34, 34, 34);
$color-primary-3: rgb(44, 47, 51);
$color-secondary-1: rgb(255, 255, 255);
$color-secondary-2: rgb(221, 221, 221);
$color-secondary-3: rgb(202, 202, 202);

// STARS AND OTHER SPECIAL ICONS
$color-positive: #006e21;
$color-negative: #6e0000;
$color-special-1: #edc16c;
$color-special-2: #f7931a;
$color-special-3: #ffcc11;

// BACKGROUND
$background-back-color: $color-primary-3;
$background-sentence-back: rgba($color-primary-1, .35);
$background-sentence-text: $color-secondary-1;

// TOOLBAR
$toolbar-background: rgba($color-primary-1, .75);
$toolbar-background-full: $color-primary-1;
$toolbar-border-color: $color-special-1;
$toolbar-text: $color-secondary-1;

// MESSAGE MANAGER
$msg-container-text: $color-primary-2;
$msg-container-background: $color-secondary-1;
$msg-container-border: $color-secondary-1;
$msg-container-success: $color-positive;
$msg-container-error: $color-negative;
$msg-container-alert: $color-special-1;

// CAROUSEL
$carousel-background: $color-primary-3;
$carousel-border-color: $color-special-1;
$carousel-item-hover-background: $color-special-1;
$carousel-item-hover-text: $color-primary-3;
$carousel-item-hover-border: $color-primary-3;

// BODY
$body-background: $color-secondary-1;
$body-text: $color-primary-1;
$body-text-muted: $color-secondary-3;
$body-text-muted-hover: $color-primary-1;

// CONTENT
$content-background: $color-secondary-1;
$content-text: $color-primary-1;
$content-background-transparent: rgba($color-primary-1, .75);
$content-video-border: $color-primary-1;
$content-border-color: $color-special-1;

// CONTENT MAIN
$content-start-background2: linear-gradient(180deg, rgba(44, 47, 51, 1) 0%, rgba(44, 47, 51, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
$content-start-background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 100%);
$content-start-bit-back: rgba(44, 47, 51, .9);
$content-start-bit-color: #ffffff;
$content-start-aka-back: rgba(255, 255, 255, .9);
$content-start-aka-color: #000000;

// MENU
$menu-background-color: rgba(255, 255, 255, .75);
$menu-item-background-color: rgba(64, 64, 64, .75);
$menu-font-color: rgba(255, 255, 255, 1);
$menu-color: $color-secondary-1;
$menu-color-hover: $color-special-1;

// BUTTON
$btn-background: $color-secondary-1;
$btn-background-hover: $color-special-1;
$btn-background-disabled: $color-secondary-1;
$btn-border: $color-secondary-1;
$btn-border-hover: $color-special-1;
$btn-border-disabled: $color-secondary-1;
$btn-text: $color-primary-3;
$btn-text-hover: $color-primary-3;
$btn-text-disabled: $color-secondary-2;

// CARD
$card-background: rgba($color-secondary-1, .9);
$card-background-hover: $color-primary-1;
$card-text: $color-primary-1;
$card-text-hover: $color-secondary-1;
$card-border-light: $color-special-1;
$card-border-dark: $color-primary-1;

// RADIO
$radio-color-thumb: $color-special-2;
$radio-color-bar: $color-special-3;

// SELECT
$select-background: $color-secondary-1;
$select-text: $color-primary-3;
$select-border: $color-special-1;

// STEPPER
$stepper-tab-back: $color-secondary-1;
$stepper-tab-back-hover: $color-primary-1;
$stepper-tab-text: $color-primary-1;
$stepper-tab-text-hover: $color-secondary-1;
$stepper-tab-border: $color-primary-1;
$stepper-tab-border-hover: $color-primary-1;
$stepper-tab-back-selected: $color-special-1;
$stepper-tab-text-selected: $color-primary-1;
$stepper-tab-border-selected: $color-special-1;

// GLOBAL
$global-link-color: $color-secondary-1;
$global-link-color-hover: $color-special-1;
// $global-link-color-hover: $color-special-2;
// $global-link-color-hover: $color-special-3;