@import './styles-colors.scss';

.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background: url(./assets/images/background.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;

  background-color: $body-background;
  color: $body-text;

  .bit2me-carousel {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    top: 85px;

    .bit2me-carousel-component {
      display: block;
      width: 100%;
      height: 50px;
    }
  }

  .main-container {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100% - 215px);
    top: 85px;
    bottom: 85px;
    margin: 0 auto;
    padding: 10px;
    overflow: auto;

    // .content {
    //   display: block;
    //   max-width: 50%;
    //   margin: 0 auto;
    //   font-size: 16px;
    //   text-align: center;
    //   line-height: 30px;
    //   letter-spacing: 1px;

    //   .about,
    //   .cards {
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     padding: 10px 0;
    //     margin: 0;
    //   }
    // }
  }

  .toolbar-top,
  .toolbar-bottom {
    position: fixed;
    display: flex;
    width: 100%;
    height: 85px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: $toolbar-background;
    z-index: 1;

    .menu-top,
    .menu-bottom {
      position: relative;
      display: flex;
      min-width: 280px;
      margin: 2px auto;
      justify-content: center;
      align-items: center;
    }
  }

  .toolbar-top {
    top: 0;
    padding: 10px;
    border-bottom: 1px solid $toolbar-border-color;
  }

  .toolbar-bottom {
    bottom: 0;
    padding: 10px;
    border-top: 1px solid $toolbar-border-color;
  }
}

.carousel-wrapper {
  background-color: $toolbar-background !important;
}

/* Responsive Styles */
@media screen and (max-width: 1256px) {
  .content {
    max-width: 75% !important;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    min-width: 100%;

    .content {
      max-width: 100% !important;
    }
  }
}
