// table {
//   border-collapse: collapse;
//   text-align: left;
//   table-layout: fixed;
//   font-variant-numeric: tabular-nums;
//   display: block;
//   overflow-x: auto;
//   white-space: nowrap;
// }

table {
  width: 100%;
  max-height: 500px;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

// thead {
//   background: var(--accent-color);
//   word-break: break-word;
//   font-weight: 900;
// }

// tbody tr:nth-child(even) {
//   background: var(--accent-color-03);
// }