@import './styles-colors.scss';

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.logo {
  margin: 0 15px 0 0;

  .linkable-icon.router-link-active:before {
    border-bottom-color: transparent;
  }
}

.linkable-icon {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 50px;
  padding: 0 5px;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  cursor: pointer;

  &.router-link-active:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    top: calc(50% - 6px);
    left: calc(0% - 12px);
    border: 6px solid transparent;
    border-left-color: $global-link-color-hover;
    z-index: 2;
  }

  &.router-link-active,
  &:hover {
    opacity: 1;
    color: $global-link-color-hover;

    span,
    .svgControl {
      opacity: 1;
      color: $global-link-color-hover;

      .svgPath {
        fill: $global-link-color-hover;
      }
    }
  }

  &:not(.no-border):hover {
    border-color: $global-link-color-hover;
  }

  &.card {
    position: relative;
    display: flex;
    border-radius: 4px;
    border: 1px solid $card-border-light;
    width: 100%;
    min-width: 150px;
    max-width: 150px;
    height: 100%;
    min-height: 150px;
    max-height: 150px;
    margin: 15px;
    padding: 0;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 24px;
    color: $card-text;
    background-color: $card-background;
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

      span,
      .material-icons path,
      svg.material-icons path {
        fill: $card-text-hover;
        color: $card-text-hover;
      }
    }

    .mat-icon.material-icons {
      position: relative;
      display: block;
      width: 100%;
      min-width: 30px;
      max-width: 30px;
      height: 100%;
      min-height: 30px;
      max-height: 30px;
      margin: 0 auto;
      font-size: 30px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }

    span {
      display: flex;
      height: 60px;
      margin: 0 auto;
      padding: 5px;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      color: $card-text;
    }

    svg.material-icons path,
    svg.material-icons g {
      fill: $card-text;
    }
  }

  &.menu-button {
    flex-direction: row;
    min-width: 250px;
    max-width: 300px;
    min-height: 50px;
    max-height: 50px;

    span {
      font-size: 15px;
      text-indent: 15px;
    }
  }

  .svgControl {
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
    min-width: 25px;
    min-height: 25px;
    margin: 2px;

    &.home {
      max-width: 65px;
      max-height: 65px;
      border-radius: 50%;

      g {
        fill: $color-primary-1;
      }
    }

    &:hover {
      opacity: 1;
      color: $global-link-color-hover;
    }

    .svgPath {
      fill: $color-primary-1;
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin: 0 2px;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $toolbar_text;
  }

  .mat-icon {
    font-size: 30px;
  }
}

.cards .linkable-icon .svgControl {
  max-width: 50px;
  max-height: 50px;
}

.toolbar-top .menu-top .linkable-icon {
  img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
    margin: 50px 10px 0;
    border: 1px solid $toolbar-border-color;
    transition: all 1s ease-in-out;

    &:hover {
      transition: all 1s ease-in-out;
      animation: pop 1s infinite linear;
    }
  }

  span {
    font-size: 25px;
    font-weight: bold;
    font-family: 'rowdies-bold';
    color: $toolbar-border-color;
    letter-spacing: 1px;
  }
}

.small a.linkable-icon.card {
  min-height: 50px;
  max-height: 50px;
  margin: 5px 15px;
  color: $card-text;
  background: $card-background;
  border: 5px solid $card-border-light;
  user-select: none;

  &:hover {
    color: $card-text;
    background: $card-border-light;

    span,
    .material-icons path,
    svg.material-icons path {
      color: $card-text;
    }
  }

  .mat-icon {
    max-width: 25px;
    min-width: 25px;
    min-height: 25px;
    max-height: 25px;
    font-size: 25px;
    color: $card-text;
  }
}

.material-icons-donations,
.material-icons-language {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  padding: 0;
  color: $global-link-color;
  font-size: 20px;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover {
    color: $global-link-color-hover;
    border-color: $global-link-color-hover;
  }

  .mat-icon.material-icons {
    position: relative;
    display: flex;
    font-size: 20px;
  }
}

/* Animations */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pop {

  0%,
  100% {
    transform: scale(1);
  }

  33% {
    transform: scale(1.05);
  }

  66% {
    transform: scale(.90);
  }
}