@import './styles-colors.scss';

.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;

  // background: url(./assets/images/background.svg);
  // background-position: bottom;
  // background-repeat: no-repeat;
  // -webkit-background-size: 100% 100%;
  // background-size: 100%;

  background-color: $body-background;
  color: $body-text;

  .content {
    padding: 10px;
    color: $content-text;
    // background-color: $content-background;
    // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    // border-radius: 10px;
  }

  .coins-carousel {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    // top: 54px;
    top: 0;

    .coins-carousel-component {
      display: block;
      width: 100%;
      height: 50px;
    }
  }

  .main-container {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    max-height: calc(100% - 145px);
    top: 0;
    bottom: 0;
    margin: 45px auto 0;
    padding: 0;
    overflow: auto;
    background: $content-background;
  }

  .toolbar-top {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50px;
    top: 0;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: $toolbar-background;
    border-bottom: 2px solid $toolbar-border-color;
    z-index: 1;

    .menu-top {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 100%;
      min-height: 50px;
      padding: 0 15px;

      .menu-top-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        // max-width: 50%;
        margin: 0 auto;
      }
    }

    .menu-actions {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
    }

    .menu-currency {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0;
      cursor: pointer;

      &:hover {
        color: $toolbar-border-color;
      }

      .mat-icon {
        display: flex;
        align-self: center;
        width: 40px;
        height: 45px;
        margin-top: -5px;
        padding: 0;
      }
    }
  }

  .menu-toggle-side {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 30px;
    font-size: 15px;
    cursor: pointer;

    img.menu-toggle-side-logo {
      width: 40px;
      height: 40px;
    }
  }

  .menu-nav {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0 5px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: $menu-color;
    cursor: pointer;

    &:hover {
      color: $menu-color-hover;
      transform: scale(1.4);
    }
  }

  .menu-nav-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50px);
    min-height: 50%;
    color: $toolbar-text;
    background: $toolbar-background;
    animation: slide-out 1s ease;
    top: 50px;
    left: -100%;
    z-index: 9999;

    &.animate {
      animation: slide-in 1s ease;
      left: 0;
    }
  }
}

.carousel-wrapper {
  background-color: $toolbar-background !important;
}

// STEPPER
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header,
.mat-vertical-stepper-header {
  padding: 15px 10px !important;
}

.mat-horizontal-content-container,
.mat-vertical-content-container {
  margin-left: 0 !important;
}

.mat-horizontal-content,
.mat-vertical-content {
  padding: 0 !important;
}

/* RESPONSIVE STYLES */
@media screen and (max-width: 1256px) {
  .menu-top-container {
    max-width: 100% !important;
  }

  .content {
    max-width: 90% !important;
  }

  .menu-donations-container-fix {
    width: 75% !important;
  }
}

@media screen and (max-width: 767px) {

  .main-container {
    min-width: 100%;

    .content {
      max-width: 100% !important;
    }
  }
}

@keyframes slide-in {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}