app-custom-image#small {
  width: auto;
  max-width: 70px;
  min-width: 70px;

  img.small {
    width: 100%;
    max-width: 50px;
    min-width: 50px;
    margin: 5px;
    border-radius: 5px;
  }
}

app-custom-image#large {
  width: 100%;

  img.large {
    width: 100%;
    max-width: 100%;
    height: 165px;
    object-fit: fill;
  }
}

app-custom-image#book-cover {
  position: relative;
  display: flex;
  max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
  border-radius: 10px;

  img {
    border-radius: 10px;
  }
}