@import './styles-colors.scss';

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.linkable-icon {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 60px;
  padding: 0 5px;
  margin: 0 5px;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;

  &.no-border:hover span {
    opacity: 1;
    color: $global-link-color-hover;
  }

  &:not(.no-border):hover {
    border-color: $global-link-color-hover;

    span,
    .svgControl {
      opacity: 1;
      color: $global-link-color-hover;

      .svgPath {
        fill: $global-link-color-hover;
      }
    }
  }

  &.card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;

    &.card-small {
      height: 16px;
      width: 168px;
    }

    &.highlight-card {
      background-color: #1976d2;
      color: white;
      font-weight: 600;
      border: none;
      width: auto;
      min-width: 30%;
      position: relative;
    }

    &:not(.highlight-card) {
      cursor: pointer;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);

        .material-icons path {
          fill: rgb(105, 103, 103);
        }
      }
    }

    svg.material-icons path {
      fill: #888;
    }
  }

  .svgControl {
    width: 100%;
    height: 100%;
    max-width: 30px;
    max-height: 30px;
    min-width: 20px;
    min-height: 20px;
    margin: 5px;
    opacity: 0.5;

    &:hover {
      opacity: 1;
      color: $global-link-color-hover;
    }

    .svgPath {
      fill: #ffffff;
    }
  }

  img {
    width: 100%;
    height: 100%;
    max-width: 60px;
    max-height: 60px;
  }

  span {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $toolbar_text;
  }
}

/* Responsive Styles */
@media screen and (max-width: 767px) {

  .linkable-icon {
    max-height: 60px;

    img {
      max-width: 50px;
      max-height: 50px;
    }

    span,
    .svgControl {
      opacity: 1;
      font-size: 14px;
      color: $global-link-color;
    }
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }
}
