// TOOLBAR
$toolbar-background: rgba(0, 0, 0, 0.85);
$toolbar-text: #ffffff;
$toolbar-breadcrumb_background: rgba(0, 0, 0, 0.5);
$toolbar-breadcrumb_text: #ffffff;

// GLOBAL
$global-link-color: rgb(54, 80, 75);
$global-link-color-hover: rgb(0, 133, 106);
