// TOOLBAR
$toolbar-background: #212121;
// $toolbar-border-color: #ef8e19;
$toolbar-border-color: #41c8e6;
// $toolbar-border-color: #1b709b;
$toolbar-text: #ffffff;

// BODY
$body-background: #212121;
$body-text: #ffffff;

// CONTENT
$content-background: #dddddd;
$content-text: #212121;

// GLOBAL
$global-link-color: #ffffff;
// $global-link-color-hover: #ef8e19;
$global-link-color-hover: #41c8e6;
// $global-link-color-hover: #1b709b;
