@import './styles-colors.scss';

.mat-tab-header {
  border: none;

  .mat-tab-label {
    background: #fff;
    color: #000;
    border-radius: 10px 10px 0 0;
    min-width: 250px;
    margin: 0 5px;
    opacity: 1;

    &:first-of-type {
      background: #000;
      color: #fff;
    }

    .mat-tab-label-content {
      display: flex;
      flex-direction: row;
      width: 100%;

      .tab-icon {
        width: 25px;
        height: 25px;
        justify-self: flex-start;

        &.mat-icon {
          align-self: flex-start;
        }
      }

      span {
        width: 100%;
        font-weight: bold;
      }
    }
  }

  .mat-ink-bar {
    background-color: $global-link-color-hover !important;
  }
}