<div class="content">

  <div class="about">
    <span [innerHTML]="('PAGES.GAMES.about' | translate) | safe:'html'"></span>

    <div class="content-games">
      <span [innerHTML]="('PAGES.GAMES.aboutGames' | translate) | safe:'html'"></span>

      <div class="content-games-items">
        <div
          class="content-games-item"
          *ngFor="let game of gamesList"
        >
          <app-custom-image
            id="large"
            [sClass]="'large'"
            [sImgSRC]="game.imgLarge"
          ></app-custom-image>

          <div class="item-container">
            <a
              [href]="game.linkMain"
              target="_blank"
            >
              <div class="item-name">
                <app-custom-image
                  id="small"
                  [sClass]="'small'"
                  [sImgSRC]="game.imgSmall"
                ></app-custom-image>

                <div class="box-name">
                  <span
                    *ngIf="game.name"
                    class="name"
                  >{{ stringsPrefix + game.name | translate }}</span>
                  <span
                    *ngIf="game.title"
                    class="title"
                  >{{ stringsPrefix + game.title | translate }}</span>
                </div>
              </div>
            </a>

            <span
              *ngIf="game.description"
              class="description"
              [innerHTML]="(stringsPrefix + game.description | translate) | safe:'html'"
            ></span>
          </div>

          <div class="buttons">
            <a
              *ngIf="game.linkApple"
              [href]="game.linkApple"
              target="_blank"
            ><img
                [src]="imgAppStoreApple"
                title="{{game.linkApple}}"
              ></a>
            <a
              *ngIf="game.linkGoogle"
              [href]="game.linkGoogle"
              target="_blank"
            ><img
                [src]="imgAppStoreGoogle"
                title="{{game.linkGoogle}}"
              ></a>
          </div>
        </div>
      </div>

      <app-accordion
        [setAccordionList]="walletsList"
        [showExpanded]="true"
      ></app-accordion>
    </div>
  </div>

</div>
