<app-modal-dialog
  [setShow]="showContainerDonations"
  [setTitle]="getTitleText()"
  [setTitleImage]="getTitleImage()"
  (outOnClose)="onClose()"
>
  <ng-template #modal_dialog_template>
    <button
      type="button"
      class="btn btn-long"
      (click)="PAY_IN_BTC = !PAY_IN_BTC"
    >
      <mat-icon>compare_arrows</mat-icon>
      <span [innerHTML]="(getCheckBoxText() | translate) | safe:'html'"></span>
    </button>

    <span
      class="menu-donations-message"
      [innerHTML]="(getMessageText() | translate) | safe:'html'"
    ></span>

    <span
      *ngIf="PAY_IN_BTC"
      class="menu-donations-message italic"
    >{{ 'MSG.clickToCopy' | translate }}</span>

    <div class="menu-donations-wallets">
      <a
        *ngIf="PAY_IN_BTC"
        class="show-as-row"
        (click)="onClickCopyToClipboard()"
        [cdkCopyToClipboard]="walletBTCLNZebedeeTag"
      >
        <mat-icon>offline_bolt</mat-icon>
        {{ walletBTCLNZebedeeTag }}
      </a>

      <a
        *ngIf="PAY_IN_BTC"
        class="show-as-row"
        (click)="onClickCopyToClipboard()"
        [cdkCopyToClipboard]="walletBTCPaynymTag"
      >
        <mat-icon>polymer</mat-icon>
        {{walletBTCPaynymText}}
      </a>

      <a
        *ngIf="PAY_IN_BTC"
        class="show-as-row"
        (click)="onClickCopyToClipboard()"
        [cdkCopyToClipboard]="walletBTCLNZebedeeUrl"
      >
        <img [src]="walletBTCLNZebedeeQR">
      </a>

      <a
        *ngIf="!PAY_IN_BTC"
        class="show-as-row"
        [href]="walletPaypalUrl"
        target="_blank"
      >
        <img [src]="walletPaypalQR">
      </a>

      <span
        class="blinkMessage"
        [ngClass]="{'visible': hasBeenCopied, 'invisible': !hasBeenCopied}"
      >{{ 'MSG.copyToClipboard' | translate }}
        <mat-icon>content_copy</mat-icon>
      </span>
    </div>
  </ng-template>
</app-modal-dialog>
